CREATE DATABASE Prueba_DigitalBank
GO

USE Prueba_DigitalBank
GO

CREATE TABLE Usuarios (
    Id INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
    Nombre NVARCHAR(100) NOT NULL,
    FechaNacimiento DATE NOT NULL,
    Sexo CHAR(1) NOT NULL
);
GO

CREATE PROCEDURE [dbo].[sp_Usuarios_CRUD]
    @Accion NVARCHAR(10),
    @Id INT = NULL,
    @Nombre NVARCHAR(100) = NULL,
    @FechaNacimiento DATE = NULL,
    @Sexo CHAR(1) = NULL
AS
BEGIN
    IF @Accion = 'CONSULTAR'
        SELECT * FROM Usuarios;

    ELSE IF @Accion = 'AGREGAR'
        INSERT INTO Usuarios (Nombre, FechaNacimiento, Sexo)
        VALUES (@Nombre, @FechaNacimiento, @Sexo);

    ELSE IF @Accion = 'MODIFICAR'
        UPDATE Usuarios
        SET Nombre = @Nombre,
            FechaNacimiento = @FechaNacimiento,
            Sexo = @Sexo
        WHERE Id = @Id;

    ELSE IF @Accion = 'ELIMINAR'
        DELETE FROM Usuarios WHERE Id = @Id;
END
GO

INSERT INTO dbo.Usuarios (Nombre, FechaNacimiento, Sexo) VALUES
('Juan Ariza', '2002-05-10', 'M'),
('Manuela Velasco', '2000-11-21', 'F');
GO